<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
<head>
<title>org.purnamaproject.xui package</title>
<!--

  @(#)package.html	1.60 98/01/27

  Copyright 1993-1997 Sun Microsystems, Inc. 901 San Antonio Road, 
  Palo Alto, California, 94303, U.S.A.  All Rights Reserved.

  This software is the confidential and proprietary information of Sun
  Microsystems, Inc. ("Confidential Information").  You shall not
  disclose such Confidential Information and shall use it only in
  accordance with the terms of the license agreement you entered into
  with Sun.

  CopyrightVersion 1.2

-->
</head>
<body bgcolor="white">
<p>This package offers a collection of what are called '<i>atomic</i>' components. 
  Atomic because they do not consist of any other components - they cannot be 
  split into sub components. For example, <font face="Courier New, Courier, mono">XUIButton</font> 
  is an atomic component. This package represents all of the the types that act 
  as atomic components.</p>
<p>For more information about the XUI API, look at the XUI API guide which is 
  part of this download or if you didn't download it, visit <a href="http://geekkit.bcit.ca/xui/">The 
  Purnama Project home page</a>. This guide will give you a much deeper understanding 
  as to what can be done with this API. As well, be sure to look at the examples 
  that accompany this API download as well. 
<p>&nbsp; 
<p> Copyright (c) 2003 Arron Ferguson 
</body>
</html>
